{% extends 'main/base.html' %}


{% block title %}
 List of all customers
{% endblock %}


{% block content %}
<h1>Customers Overview</h1>
 <table class="table">
     <thead>
         <tr>
             <th>ID</th>
             <th>Company Name</th>
             <th>Contact</th>
             <th>Address</th>
             <th>City</th>
             <th>Phone</th>
             <th>Fax</th>
         </tr>
     </thead>
     <tbody>
         {% for customer in customers %}
         <tr>
             <td>{{ customer.customer_id }}</td>
             <td>{{ customer.company_name }}</td>
             <td>{{ customer.contact_name }}</td>
             <td>{{ customer.address }}</td>
             <td>{{ customer.city }}</td>
             <td>{{ customer.phone }}</td>
             <td>{{ customer.fax }}</td>
         </tr>
         {% endfor %}
     </tbody>
 </table>
{% endblock %}