{% extends 'main/base.html' %}


{% block title %}
 Order details - FIX LATER
{% endblock %}


{% block headline %}  
<h1>Order Details Overview</h1>
{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        {% for order_detail in order_details %}
        <tr>
            <td>{{ order_detail.order_id }}</td>
            <td>{{ order_detail.product_id }}</td>
            <td>{{ order_detail.unit_price }}</td>
            <td>{{ order_detail.quantity }}</td>
            <td>{{ order_detail.discount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}