{% extends 'main/base.html' %}


{% block title %}
 List of all orders
{% endblock %}


{% block content %}
<h1>Overview of all orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Employee ID</th>
            <th>Order Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
            <th>Ship Via</th>
            <th>Freight</th>
            <th>Ship Name</th>
            <th>Ship Address</th>
            <th>Ship City</th>
            <th>Ship Region</th>
            <th>Ship Postal Code</th>
            <th>Ship Country</th>
        </tr>
    </thead>
    <tbody>
        {% for ord in orders %}
        <tr>
            <td>{{ ord.order_id }}</td>
            <td>{{ ord.customer_id }}</td>
            <td>{{ ord.employee_id }}</td>
            <td>{{ ord.order_date }}</td>
            <td>{{ ord.required_date }}</td>
            <td>{{ ord.shipped_date }}</td>
            <td>{{ ord.ship_via }}</td>
            <td>{{ ord.freight }}</td>
            <td>{{ ord.ship_name }}</td>
            <td>{{ ord.ship_address }}</td>
            <td>{{ ord.ship_city }}</td>
            <td>{{ ord.ship_region }}</td>
            <td>{{ ord.ship_postal_code }}</td>
            <td>{{ ord.ship_country }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>         
{% endblock %}