{% extends 'main/base.html' %}

{% block title %}
 List of all orders
{% endblock %}

{% block content %}
<h1>Overview of all orders</h1>
<table class="table">
    <thead>
        <tr>
            <th><a href="?sort_by=order_id&sort_order={% if sort_by == 'order_id' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Order ID</a></th>
            <th><a href="?sort_by=customer_name&sort_order={% if sort_by == 'order_id__customer_id__company_name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Customer Name</a></th>
            <th><a href="?sort_by=product_name&sort_order={% if sort_by == 'product_id__product_name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Product Name</a></th>
            <th><a href="?sort_by=quantity&sort_order={% if sort_by == 'quantity' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Quantity</a></th>
        </tr>
    </thead>
    <tbody>
        {% for detail in order_details %}
            <tr>
                <td>{{ detail.order_id }}</td>
                <td>{{ detail.order_id__customer_id__company_name }}</td>
                <td>{{ detail.product_id__product_name }}</td>
                <td>{{ detail.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>         
{% endblock %}